@page "/"

<h1>Welcome to YRBORED</h1>

Looks like you are bored .... lets help with that.


<thead>
    <tr>
        <th>Fill Out Inputs Below</th>
    </tr>
</thead>

<html>

<body>

    <h6>First Name:</h6>
    <input type="text" name="textbox" value="Enter First Name" />
    <h6>Last Name:</h6>
    <input type="text" name="textbox" value="Enter Last Name" />
    <h6>Username:</h6>
    <input type="text" name="textbox" value="Enter Username" />
    <h6>Password:</h6>
    <input type="text" name="textbox" value="Enter Password" />
    <h6>Birthday:</h6>
    <input type="text" name="textbox" value="Enter Birthday" />

    <button class="btn btn-primary">Generate</button>


</body>

</html>

